A.menu:link {color: #0000FF; text-decoration:none;}
A.menu:visited {color: #0000FF; text-decoration:none;}
A.menu:hover {color: #0000FF; text-decoration:underline;}
.sw {
	COLOR: #ffffff; 
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 10px;
}
.s {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 10px
}
.inbox {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 12px;
}
.mail {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 13px;
}
.titlew {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 14px;
	COLOR: #ffffff;
}
.login {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 18px;
}
.f {
	FONT-FAMILY: arial,verdana,sans-serif
}
.menu {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}
.button {
	color: white;
	background-color: #002266;
	border-bottom: thin solid #222244;
	border-right: thin solid #222244;
	border-top: thin solid #9999cc;
	border-left: thin solid #9999cc;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: none;
}