A.menu:link {color: #0000FF; text-decoration:none;}
A.menu:visited {color: #0000FF; text-decoration:none;}
A.menu:hover {color: #0000FF; text-decoration:underline;}
.sw {
	COLOR: #ffffff; 
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 11px;
}
.s {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 11px
}
.inbox {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 12px;
}
.mail {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 14px;
}
.titlew {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 16px;
	COLOR: #ffffff;
}
.login {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 20px;
}
.f {
	FONT-FAMILY: arial,verdana,sans-serif
}
.menu {
	FONT-FAMILY: arial,verdana,sans-serif; 
	FONT-SIZE: 12px;
	TEXT-DECORATION: none;
}
