#header h1,
#header ul {
  display:none;
}

#header h2 {
  margin-left: 0;
  padding-left: 0;
}

.dontPrint {
  display:none;
}

.menuOpts {
  display:none;
}

div.menuInbox {
  display:none;
}

div.menuMail {
  display:none;
}

div.menuPrefs {
  display:none;
}

.sendButtons {
  display:none;
}
