.dontPrint {
  display:none;
}

.menuOpts {
  display:none;
}

div.menuInbox {
  display:none;
}

div.menuMail {
  display:none;
}

div.menuPrefs {
  display:none;
}

.sendButtons {
  display:none;
}
