Source: nocc
Section: web
Priority: optional
Maintainer: Amaya Rodrigo Sastre <amaya@debian.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: nocc
Architecture: all
Depends: apache | apache-ssl, php4-imap, postfix | mail-transport-agent  
Suggests: cyrus-pop3 | pop3-server | cyrus-imapd | imap-server       
Description: PHP web-based e-mail reader over POP3 or IMAP. 
 Nocc is a Web-based e-mail reader. It uses PHP and a Web server to access a
 mail server (POP3, IMAP) and send e-mail (SMTP or plain sendmail).
 .
 Nocc can be used as an e-mail reader and allows you to view, send messages,
 manage your mail account. It can view and send MIME attachments (files, HTML,
 etc.).
 .
 Nocc has low requirements on browser, it uses JavaScript as less as possible,
 nearly no frames and even works with Lynx without cookies; low requirements on
 Web servers too: you don't need any superuser privileges to install Nocc and
 it can work with suEXEC for increased security.
 .
 Nocc was earlier known as Epimail, written in Perl, but was rewritten with
 PHP.  Anybody is encouraged to contribute.
